<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .wrapper{
            width: 500px;
            margin: auto;
            padding: 20px; 
            border-radius: 4px; 
            font-size: 18px;
        }
        h1{
            font-size: 40px;
            font-weight: 700; 
        }
        
    </style>
</head>
<body>
    
    <div class="wrapper">
        <c:forEach var="b" item="${originalBoard}">
            <h1>${b.title}</h1>
            <div class="content">
                ${b.content}
            </div>

            <div>
                <button>
                    뒤로가기
                </button>
            </div>
        </c:forEach>



    </div>


    
</body>
</html>